<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" class="tab-button">
        <ion-icon name="home-outline" class="tab-button"></ion-icon>
        <ion-label class="tab-button">Drinks</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search" class="tab-button">
        <ion-icon name="search-outline" class="tab-button"></ion-icon>
        <ion-label class="tab-button">Search</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="favorites" class="tab-button">
        <ion-icon name="heart-outline" class="tab-button"></ion-icon>
        <ion-label class="tab-button">Favorites</ion-label>
        <ion-badge>{{i}}</ion-badge>

      </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>